@import url(./common/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
}

header{
    z-index: 10;
    /* 不佔位 */
    position: fixed;
    top:0;
    left:0;
    width: 100%;
}


.logo{
    width: 300px;
    position: absolute;
}


.navbar{
    position: relative;
}

nav ul {
    list-style: none;
    display:flex;
    justify-content: flex-end;
}

nav ul > li{
     padding-top: 10px; 
     padding-bottom: 10px; 
}



nav ul li a {
    text-decoration: none;
    font-weight: 600;
    color: rgb(0, 0, 0);
    padding: 5px; 
    font-size: 15px;
}


/* fullpage圖片 */
/* .fullpage .fp-tableCell{
    width: 100%;
	height: auto;
	display: block;
} */

.fullpage .fullpage_img1{
    width: 100%;
	height: auto;
	display: block;
}



/* 頁面上的a連結按鈕 */ 

.fullpage{ 
    position: absolute;
}

.section a{
    position: relative;
} 

.f1{
    font-size: 16px;
    color: #fff;
    /* left:235px;
    top:400px;  */
    text-decoration: none;
    border: 6px solid rgb(132, 202, 118);
    background-color: rgb(132, 202, 118);
    border-radius: 10px;
}

.f2{
    font-size: 16px;
    color: aliceblue;
    /* left:1000px;
    top:280px; */
    text-decoration: none;
    border: 0px solid;
    border: 6px solid rgb(79, 150, 209);
    background-color: rgb(79, 150, 209);
    border-radius: 10px;
}

.f3{
    font-size: 16px;
    color: #fff;
    /* left:746px;
    top: 313px;px; */
    text-decoration: none;
    border: 5px solid rgb(224, 207, 48);
    background-color: rgb(224, 207, 48);
    border-radius: 10px;
}

/* 按鈕的hover效果 */


@keyframes swing{
    15%{transform: translateX(5px);} 
    40%{transform: translateX(-5px);}
    65%{transform: translateX(2px);}
    85%{transform: translateX(-2px);}
    100%{transform: translateX(0px);}
}

.f1h{
    transition: 0.5s;
}

.f1h:hover{
    animation: swing 1s 1;
}

.f2h{
    transition: 0.5s;
}

.f2h:hover{
    animation: swing 1s 1;
}

.f3h{
    transition: 0.5s;
}

.f3h:hover{
    animation: swing 1s 1;
}

/* 解決因為a連結按鈕而出現的頁面留白 */

.fp-tableCell{
    position: relative;
    overflow: hidden;
}

.fullpage_img1{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    /* 盡量讓他置中 */
    object-fit: cover;
    object-position: center;
} 
.f1h{
    position: absolute;
    z-index: 9;
    left:235px;
    top:470px;
}
.fullpage_img2{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
}

.f2h{
    position: absolute;
    z-index: 9;
    right:150px;
    top:330px;
}

.fullpage_img3{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
}

.f3h{
    position: absolute;
    z-index: 9;
    right:480px;
    top: 370px;
}

/* 但讓我的a連結按鈕不見了 */

/*清除浮動
nav ul::after{
    content: "";
    display: block;
    clear:both;
}

nav ul > li{
    float: left;
}
*/

/* 下拉式選單 */

nav ul li ol li a {
    font-size: 8px;
}


ol{
    background-color: #fff;
    width: 100px;
    position: absolute; 
    margin-left: 15px;
    display: none; 
    opacity: 0.6;
}



ol li a{
    /* 艱難的置中之路 */
    display: block;
    text-align: center;
}  


.navbar ul ol a:hover{
    color: rgb(133, 7, 7);
}


.navbar ul > li:hover ol{
    display: block;
}

/* hover換字效果 */

.title{
    display:inline-block;
    width: 130px;
    opacity: 0.5;
}


.title:hover span.a{
    display: none;
} 

.title:hover span.b{
    /* display: block;  */

    display:inline-block;
    width:100%;
    text-align: center;  
    color: rgb(133, 7, 7);
} 

span.a{
    /* display:inline-block; */
}

span.a, span.b{
    /* display: inline-block; */
    letter-spacing: 1px;
} 

span.b{ 
    display: none; 
}

/* a連結置中之路遙遙 */
.title span.a{
    display: block;
    text-align: center;
} 

 /* .title span.b{
    display: block;
    text-align: center;
}   */




 








