@import url(./common/common.css);
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

*{
    box-sizing: border-box;
}



body{
    font-family: 'Raleway', sans-serif;
}


.wrap{
    width: 1200px;
    margin: 0 auto;
} 

.banner1{
    width: 100%;
	height: auto;
	display: block;
}

.banner2{
    width: 100%;
	height: auto;
	display: block;
}

.productdemo{
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.productdemo li img{
    width: 250px;
    height: 340px; 
}

.productdemo a{
    color: #000;
    text-decoration: none;
}

.product-name{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px; 
}

.productdemo li a{
    padding-left: 20px;
}

.productdemo li a{
    display: block;
    text-align: center;
}

/* 淡入深出hover */
.productdemo img{
    transition: 0.5s;
    opacity: 0.8;
}

.productdemo img:hover{
    opacity: 1;
}

