@import url(./common/common.css);
@import url(https://fonts.googleapis.com/css?family=Noto+Serif+TC&amp;display=swap")

body{
  font-family: 'Noto Serif TC', serif;
}

*{
    box-sizing: border-box;
}

.slick-prev.slick-arrow{
    display: none;
}

.slick-next.slick-arrow{
    display: none;
}




.productdemo{
    /* border: solid #000 1px; */
    /* width:1200px; */
    display: flex;
    overflow: hidden;
    /* margin-left: 25px; */
    /* padding-bottom:25px; */
}



.productdemo_sliders a{
    color: #000;
    text-decoration: none;
}

/* 為何li的h都要padding調整 text-align: center; 沒有用呢 */

.sproduct-name{
    text-align: center;
    /* padding-left:20px; */
    /* padding-top: 15px; */
    /* padding-bottom:15px ; */
}


.productdemo a{
    color: #000;
    text-decoration: none;
}

.product-name{
    text-align: center;
    /* padding-left:35px;*/
    padding-top: 15px;
    padding-bottom: 15px; 
}


.productdemo_sliders li img{
    height: 450px;
    margin-left: 40px;
}

.productdemo li a{
    display: block;
    width: 100%;
    padding-left: 19px;
}

.productdemo_sliders h2{
    padding-top: 20px;
    padding-bottom: 20px;
}

.productdemo li img{
    width: 290px;
    height: 410px; 
}

ul.productdemo >li{
    /* border: solid #000 1px; */
}

.banner2{
    padding-top: 30px;
    padding-bottom: 30px;
}

.banner3{
    padding-top: 30px;
    padding-bottom: 30px;
}